@font-face {
    font-family: SegoeuiRegular;
    src: url(../font/SEGOEUI.TTF);
}
@font-face {
    font-family: SegoeuiBold;
    src: url(../font/SEGOEUIB.TTF);
}
@font-face {
    font-family: SegoeuiLight;
    src: url(../font/segoeuii.ttf);
}
@font-face {
    font-family: SegoeuiBoldItalic;
    src: url(../font/SEGOEUIZ.TTF);
}
body{
	font-family: SegoeuiRegular;
}
#imagemodal{
	h3{
		font-family: "SegoeuiBold";
	}
	p{
		font-size: 20px;
	    font-family: "SegoeuiBold";
	    color: #ff5912;
	    font-weight: bold;
	}
	button{
		font-size: 25px;
	    font-family: "SegoeuiBold";
	    color: #ff5912;
	    font-weight: bold; 
	    padding: 5px 20px;
	    border-radius:20px;
	    &:hover{
	    	color: red;
	    	background-color: #ffffff;
	    }
	}
	h4{
		text-decoration: none;
		font-size: 20px;
	    font-family: "SegoeuiRegular";
	}
	h5{
		text-decoration: none;
		font-size: 18px;
	    font-family: "SegoeuiRegular";
	}
	form{
		.form-group{
			input,select{
				width: 50%;
				margin: auto;
			}
		}
	}
}
#modal-signup,#modal-signin{
	form{
		width: 80%;
		margin: auto;
	}
}
#header{
	.top-header{
		padding-top: 20px;
		padding-bottom: 25px;
		border-bottom: 1px solid rgba(230, 232, 235,0.502);
		.left{
			float: left;
			.email,.phone{
				float: left;
				margin-right: 20px;
				font-family: "SegoeuiRegular";
				img{
					margin-right: 5px;
				}
			}
			.email{
				a{
					color: black;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		.right{
			float: right;
			i{
				margin-left: 15px;
			}
		}
	}
	.bottom-header{
		padding-top: 40px;
		padding-bottom: 40px;
		.hamburger{
			.hamburger-box{
				display: none;
			}
		}
		nav{
			ul li{
				margin-right: 40px;
				a{
					padding: 0;
					color: black;
					font-family: "SegoeuiBold";
					&:hover{
						text-decoration: none;
						color: #ff5912;
						background: #ffffff;
					}
					&.active{
						color: #ff5912;
					}
				}
			}
		}
		.tools{
			text-align: right;
			i{
				margin-left: 30px;
			}
		}
	}
}
.header_sidebar {
	position: relative;
	.sidebar{
		background-image: url('../images/header_background.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding:230px 0;
		h1{
		  	font-size: 52px;
		  	font-family: "SegoeuiBold";
		  	color: #ff5912;
		  	text-transform: uppercase;
		}
		h2{
		  	font-size: 18px;
		  	font-family: "SegoeuiBold";
		  	color: rgb(60, 71, 81);
		}
		p {
		  	font-size: 16px;
		  	font-family: "SegoeuiRegular";
		  	color: rgb(73, 86, 98);
		  	margin-bottom: 60px;
		}
		span {
		 	font-size: 18px;
		  	font-family: "SegoeuiBold";
		 	color: rgb(52, 64, 75);
		 	margin-right: 25px;
		 	&:last-child{
		 		color: #ff5912;
		 	}
		}
	}
	.owl-dots{
		position: absolute;
		bottom: 80px;
		left: 0;
		right: 0;
		text-align: center;
		.owl-dot{
			display: inline-block;
			&.active{
				span{
					border:1px solid rgb(255, 89, 18);
					background-color: transparent;
				}
			}
			span{
				padding:5px;
				border:1px solid rgb(255, 89, 18);
				background-color: rgb(255, 89, 18);
				display: inline-block;
				border-radius: 50%;
				margin: 10px;
			}
		}
	}
}
#content{
	background: #f4f6f8;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 120px;
	.title{
		h3 {
			span{
				color: rgb(255, 89, 18);
			}
			font-size: 36px;
			font-family: "SegoeuiBold";
			text-transform: uppercase;
			margin-bottom: 25px;
		}
		p {
		  	font-size: 16px;
		  	font-family: "SegoeuiRegular";
		  	color: rgb(73, 86, 98);
		  	margin-bottom: 80px;
		}
	}
	.products{
		padding-bottom: 120px;
		a{
			text-decoration: none;
			display: block;
			color: black;
			cursor: pointer;
			.product{
				background-color: #ffffff;
				padding-top: 30px;
				padding-bottom: 22px;
				min-height: 386px;
				img{
					width: 145px;
					height: 218px;
					margin: 0 auto 28px;
				}
				h3{
					margin-top: 0;
					margin-bottom: 25px;
					font-family: "SegoeuiBold";
					font-size: 18px;
				}
				span{
					margin-top: 0;
					margin-bottom: 0;
					font-size: 18px;
				  	font-family: "SegoeuiBold";
				 	color: rgb(255, 89, 18);
				 	&.sales{
				  		text-decoration: line-through;
				  	}
				}
			}
		}
		.owl-dots{
			margin: 80px 15px 0;
			height: 60px;
			background-color: #ffffff;
			.owl-dot{
				display: inline-block;
				height: 60px;
				span{
				    width: 10px;
				    height: 10px;
				    margin: 24px 7px;
				    display: block;
				    background-color: #ff5912;
				    border: 1px solid #ff5912;
				    border-radius: 50%;
				}
				&.active{
					span{
						background-color: #ffffff;
					}
				}
			}
		}
	}
	.seo{
		padding-bottom: 120px;
		.sales{
			text-align: left;
			background: #ffffff;
			min-height: 100px;
			img{
				margin-left: 65px;
				display: inline-block;
				margin-top: -20px;
			}
			.extra-seo{
				margin-left: 55px;
				display: inline-block;
				text-align: left;
				h3 {
				  	font-size: 22px;
				  	font-family: "SegoeuiBold";
				 	color: rgb(52, 64, 75);				
				}
				p {
				  	font-size: 12px;
				  	font-family: "SegoeuiRegular";
				  	color: rgb(73, 86, 98);
				}
			}
			>span{
				margin-left: 75px;
				display: inline-block;
				color: rgb(255, 89, 18);
				i{
					font-size: 22px;
				}
				span {
					margin-left: 20px;
				  	font-size: 22px;
				  	font-family: "SegoeuiBold";
				  	color: rgb(255, 89, 18);
				}
			}
		}
		.ads{
			min-height: 100px;
			background: #ffffff;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
	.best-sales{
		padding-bottom: 120px;
		.title{
			h3 {
				span{
			  		color: rgb(255, 89, 18);
				}
			  	font-size: 36px;
			  	font-family: "SegoeuiBold";
			}
			p {
			  	font-size: 16px;
			  	font-family: "SegoeuiRegular";
			  	color: rgb(73, 86, 98);
			}
		}
		.products-sales{
			a{
				cursor: pointer;
				text-decoration: none;
				display: block;
				.product-sale{
					padding-top: 30px;
					padding-left: 25px;
					background: #ffffff;
					padding-bottom: 30px;
					img{
						float: left;
						margin-right: 30px;
						width: 90px;
						height: 90px;
					}
					.extra-product-sales{
						float: left;
						h3 {
						  	font-size: 18px;
						  	font-family: "SegoeuiBold";
						  	color: rgb(52, 64, 75);			
						  	font-weight: bold;		
						}
						span {
						  	font-size: 16px;
						  	font-family: "SegoeuiBold";
						  	color: rgb(255, 89, 18);
						  	&.sales{
						  		text-decoration: line-through;
						  	}
						}
					}
				}
			}
		}
	}
	.news-letter{
		background-color: #ffffff;
		.left{
			padding-left: 70px;
			h3 {
				float: left;
			  	font-size: 18px;
			  	font-family: "SegoeuiBold";
			  	color: rgb(255, 89, 18);
			  	font-weight: bold;
			  	text-transform: uppercase;
			  	height: 123px;
			  	line-height: 123px;
			  	margin: 0;
			}
			p {
				float: left;
			  	font-size: 14px;
			  	font-family: "SegoeuiItalic";
			  	color: rgb(52, 64, 75);
			  	height: 123px;
			  	line-height: 123px;
			  	margin: 0 0 0 20px;
			}

		}
		.right{
			text-align: right;
			padding-right: 55px;
			height: 123px;
			form{
				padding: 40px 0;
				input[type="email"]{
					display: inline-block;
					width: 300px;
					margin-right: 20px;
				}
				input[type="submit"]{
					background-color: rgb(255, 89, 18);
					padding: 10px 28px;
					border:0;
					color: #ffffff;
				  	font-size: 14px;
				  	border-radius: 6px;
				  	font-family: "SegoeuiBold";
				}
			}
		}
	}
}
#footer{
	.container{
		padding-top: 60px;
		padding-bottom: 60px;
		.footer-logo{
			padding-top: 25px;
			p {
				margin: 20px 0 0 0;
			  	font-size: 14px;
			  	font-family: "SegoeuiRegular";
			  	color: rgb(40, 49, 59);
			}
		}
		.contact{
			ul{ 
				padding: 0;
				margin: 0;
				li{
					a{
						font-size: 14px;
						color: black;
						padding-left: 0;
						padding-right: 0;
						font-family: "SegoeuiRegular";
						&:before{
							content: "";
						    line-height: 5px;
						    width: 5px;
						    height: 5px;
						    background-color: black;
						    float: left;
						    margin: 8px 8px 0;
						    border-radius: 50%;
						}
					}
					&:hover{
						a{
							color: rgb(255, 89, 18);
							text-decoration: none;
							background-color: #ffffff;
							&:before{
								background-color: rgb(255, 89, 18);
							}
						}
					}
				}
			}
		}
	}
}

/**************************PRODUCT**********************************/
#content{
	.widget{
		text-align: left;
		.categories{
			background-color: #ffffff;
			padding-left: 40px;
			margin-bottom: 30px;
			h3 {
			  font-size: 18px;
			  margin-top: 40px;
			  margin-bottom: 25px;
			  font-family: "SegoeuiBold";
			  color: rgb(255, 89, 18);
			  font-weight: bold;
			}
			ul li{
				padding-bottom: 35px;
				font-size: 16px;
				font-family: "SegoeuiBold";
				div{
					cursor: pointer;
					&.active{
					color: #ff5912;
					}
				}
			}
		}
		.price{
			background-color: #ffffff;
			padding-left: 40px;
			margin-bottom: 30px;
			h3 {
			  	font-size: 18px;
			  	margin-top: 40px;
			  	margin-bottom: 65px;
			  	font-family: "SegoeuiBold";
			  	color: rgb(255, 89, 18);
			}
			label{
				border:0; 
				color:#34404b;
				font-family: "SegoeuiRegular";
				&#amount1{
					position: absolute;
					bottom: 20px;
				}
				&#amount2{
					position: absolute;
					bottom: 20px;
				}
			}
			#slider-range{
				margin-bottom: 40px;
				height: 3px;
				border: 0;
				background-color: #edf0f2;
				div.ui-slider-range{
					background-color: #34404b;
				}
				span{
					background: #34404b;
					border-radius: 50%;
					width: 12px;
					height: 12px;
					cursor: pointer;
				}
			}
		}
		.sizes{
			background-color: #ffffff;
			padding-left: 40px;
			margin-bottom: 30px;
			h3 {
			  font-size: 18px;
			  margin-top: 40px;
			  margin-bottom: 25px;
			  font-family: "SegoeuiBold";
			  color: rgb(255, 89, 18);
			  font-weight: bold;
			}
			ul li{
				padding-bottom: 35px;
				div{
					cursor: pointer;
					font-size: 16px;
					font-family: "SegoeuiBold";
					&:before{
						content: "";
					    line-height: 5px;
					    width: 5px;
					    height: 5px;
					    background-color: black;
					    float: left;
					    margin: 8px 8px 0;
					    border-radius: 50%;
					}
					&.active{
						color: rgb(255, 89, 18);
						&:before{
							background-color: rgb(255, 89, 18);
						}
					}
				}
			}
		}
		.brands{
			background-color: #ffffff;
			padding-left: 40px;
			margin-bottom: 30px;
			h3 {
			  font-size: 18px;
			  margin-top: 40px;
			  margin-bottom: 25px;
			  font-family: "SegoeuiBold";
			  color: rgb(255, 89, 18);
			  font-weight: bold;
			}
			ul li{
				padding-bottom: 35px;
				div{
					cursor: pointer;
					font-size: 16px;
					font-family: "SegoeuiBold";
					&:before{
						content: "";
					    line-height: 5px;
					    width: 5px;
					    height: 5px;
					    background-color: black;
					    float: left;
					    margin: 8px 8px 0;
					    border-radius: 50%;
					}
					&.active{
						color: rgb(255, 89, 18);
						&:before{
						    background-color: rgb(255, 89, 18);
						}
					}
				}
			}
		}
	}
	.single{
		padding-bottom: 80px;
		a{
			cursor: pointer;
			text-decoration: none;
			display: block;
			.product-single{
				background: #ffffff;
				padding-top: 30px;
				padding-bottom: 25px;
				margin-bottom: 30px;
				max-height: 369px;
				img{
					width: 160px;
					height: 215px;
					margin-bottom: 30px;
				}
				h3 {
				  	font-size: 18px;
				  	font-family: "SegoeuiBold";
				  	color: rgb(52, 64, 75);
				  	font-weight: bold;
				  	margin-bottom: 25px;
				  	margin-top: 0;
				}
				span {
				  	font-size: 18px;
				  	font-family: "SegoeuiBold";
				  	color: rgb(255, 89, 18);
				  	font-weight: bold;
				  	margin: 0;
				  	&.sales{
				  		text-decoration: line-through;
				  	}
				}
			}
		}
	}

}
/*
HElP
*/
#content {
	.help{
		text-align: left;
		padding-top: 10px;
		padding-bottom: 20px;
		margin-bottom: 60px;
		background-color: #ffffff;
		.header{
			border-bottom: 1px solid rgb(52, 64, 75);
			padding-left: 30px;
		}
		.help-bottom{
			padding-top: 20px;
			padding-left: 30px;
			.extra-help{
				padding-bottom: 10px;
				ul{
					margin-bottom: 0;
					li{
						padding-top: 10px; 
					}
				}
				h3{
					font-weight: bold;
				}
			}
		}
	}
}

/*
ABOUT US
*/
#content {
	.about{
		text-align: left;
		padding-top: 10px;
		padding-bottom: 20px;
		margin-bottom: 60px;
		background-color: #ffffff;
		.header{
			border-bottom: 1px solid rgb(52, 64, 75);
			padding-left: 30px;
		}
		.about-bottom{
			padding-top: 20px;
			padding-left: 30px;
			.extra-about{
				padding-bottom: 10px;
				ul{
					margin-bottom: 0;
					li{
						padding-top: 10px; 
					}
				}
				h3{
					font-weight: bold;
				}
			}
		}
	}
}



/******************RESPONSIVE********************/



@media screen and (max-width: 1200px){
	#header{
		.bottom-header{
			nav{
				margin-left: 20px;
			}
			.tools{
				margin-left: -20px;
			}
		}
	}
	#content{
		.row{
			.news-letter{
				.row{
					.left{
						padding-left: 25px;
					}
					.right{
						padding-left: 10px;
						padding-right: 0px;
						text-align: left;
					}
				}
			}
			.seo{
				.sales{
					img{
						margin-left: 30px;
					}
					.extra-seo{
						margin-left: 30px;
					}
					>span{
						margin-left: 30px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	#header {
		.bottom-header {
			nav{
				margin-left: 0px;
				ul{
					li{
						margin-right: 21px;
					}
				}
			}
		}
	}

	#content .seo .ads { display: none;}
	#content .best-sales .products-sales a .product-sale {
		text-align: center;
		padding-left: 0px;
		img{
			
		}
		width: 240px;
	}

	#content {
		.row{
			.news-letter {
				.row{
					.left{
						display: none;
					}
					.right{
						text-align: center;
						form{
							
						}
					}
				}
				
			}
		}
		
		.seo{
			.sales{
				text-align: center;
			}
		}
	}
	#footer{
		.row{
			.footer-logo{
				float: left;
			}
			.contact{
				float: left;
				.col-md-4{
					float: left;
				}
			}
		}
	}


	/****************PRODUCT**************/
	#content{
		.row{
			.widget{
				.categories{
					padding:0 15px;
					background-color: transparent;
					h3{
						display: none;
					}
					ul{
						display: inline-block;
						width: 100%;
						margin:auto;
						text-align: center;
						background-color: #ffffff;
						border-radius: 8px;
						li{
							display: inline-block;
							padding:10px 15px;
						}
					}
				}
				.price{
					padding:0 15px;
					background-color: transparent;
					position: relative;
					&:before{
						content: "";
						position: absolute;
						top: 0;
						left: 15px;
						right: 15px;
						bottom:0;
						background-color: #ffffff;
						border-radius: 8px;
					}
					h3{
						display: none;
					}
					#slider-range{
						margin:23px auto 16px;
						width: 80%;
						#amount1,#amount2{
							bottom: 5px;
						}
					}
				}
				.sizes{
					padding:0 12px;
					background-color: transparent;
					h3{
						display: none;
					}
					ul{
						display: inline-block;
						width: 100%;
						margin:auto;
						text-align: center;
						background-color: #ffffff;
						border-radius: 8px;
						li{
							display: inline-block;
							padding:10px 15px;
							div:before{
								display: none;
							}
						}
					}
				}
				.brands{
					padding:0 12px;
					background-color: transparent;
					h3{
						display: none;
					}
					ul{
						display: inline-block;
						width: 100%;
						margin:auto;
						text-align: center;
						background-color: #ffffff;
						border-radius: 8px;
						li{
							display: inline-block;
							padding:10px 15px;
							div:before{
								display: none;
							}
						}
					}
				}
			}
			.grid{
				max-width: 992px;
				.product-elements{
					margin-bottom: 10px;
					.product-single{
						width: 100%;
						margin: 0 auto;
						max-height: none;
						img{
							width: 100%;
						}
					}	
					&:nth-child(n+20){
						display: none;
					}
				}
			}
		}
	}


	/*******Support*******/
	#content .help .help-bottom{
		img{
			max-width: 100%;
		}
	}

	#content .products .owl-dots .owl-dot:nth-child(n+6) {
		display: none;
	}
	#content .best-sales .products-sales a .product-sale{
		margin: 5px auto;
		 img {
		 	display: block;
		 	margin:auto;
		 	float: none;
		}
		.extra-product-sales{
			float: none;
			margin: auto;
		}
	}
}
@media screen and (max-width: 768px){
	#header {
		.top-header {
			display: none; 
		}
		.bottom-header{
			padding-bottom: 20px;
			padding-top: 15px;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			background-color: #ffffff;
			z-index: 100;
			box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.1);
			.row{
				.logo{
					display: inline-block;
				}
				>.hamburger{
					.hamburger-box{
						display: inline-block;
						position: absolute;
						right: 10px;
						top:30px;
					}
				}
				.tools{
					display: none;
				}
				input:checked ~ nav.nav{
					max-width: 0;
					transition: all 0.5s;
				}	
				nav.nav{
					margin:0;
					position: fixed;
					right: 0;
					top: 0;
					bottom: 0;
					max-width: 150px;
					width: 150px;
					transition: all 0.5s;
					background-color: #ffffff;
					box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.1);
					z-index: 100;
					padding:0;
					.hamburger-box{
						display: block;
						top: 15px;
						right: 0;
						position: relative;
						padding: 23px 15px;
					}
					.nav{
						border-top: 1px solid rgba(0,0,0,0.1);
						margin:0;
						padding:15px;
						width: 100%;
						li{
							padding-bottom: 20px;
						}
					}
				}
			}
		}
	}

	/***********PRODUCT*********/
	#content{
		.row{
			.widget {
				.categories ul li {
					padding:10px 25px;
				}
				.price{
					height: 84px;
					#slider-range{
						margin-top: 45px;
					}
				}
				.sizes ul li {
					padding:10px 25px;
				}
				.brands ul li {
					padding:10px 25px;
				}
			}
			.grid{
				max-width: 768px;

				.product-elements{
					margin-bottom: 10px;
					.product-single{
						img{
							height: auto;
						}
					}	
				}
			}
		}
	}
	/*******Support*******/
	#content .help .help-bottom{
		img{
			width: 100%;
		}
	}
}
@media screen and (max-width: 580px){
	#content{
		.row{
			.widget {
				display: none;
			}
		}
	}
}