@font-face {
    font-family: SegoeuiRegular;
    src: url(../font/SEGOEUI.TTF);
}
@font-face {
    font-family: SegoeuiBold;
    src: url(../font/SEGOEUIB.TTF);
}
@font-face {
    font-family: SegoeuiLight;
    src: url(../font/segoeuii.ttf);
}
@font-face {
    font-family: SegoeuiBoldItalic;
    src: url(../font/SEGOEUIZ.TTF);
}
body{
	font-family: SegoeuiRegular;
}
.modal{
	h3{
		font-family: "SegoeuiBold";
	}
	p{
		font-size: 20px;
	    font-family: "SegoeuiBold";
	    color: #ff5912;
	    font-weight: bold;
	}
	button{
		font-size: 25px;
	    font-family: "SegoeuiBold";
	    color: #ff5912;
	    font-weight: bold; 
	    padding: 5px 20px;
	    border-radius:20px;
	    &:hover{
	    	color: red;
	    	background-color: #ffffff;
	    }
	}
	h4{
		text-decoration: none;
		font-size: 20px;
	    font-family: "SegoeuiRegular";
	}
	h5{
		text-decoration: none;
		font-size: 18px;
	    font-family: "SegoeuiRegular";
	}
}
#header{
	.top-header{
		padding-top: 20px;
		padding-bottom: 25px;
		border-bottom: 1px solid rgba(230, 232, 235,0.502);
		.left{
			float: left;
			.email,.phone{
				float: left;
				margin-right: 20px;
				font-family: "SegoeuiRegular";
				img{
					margin-right: 5px;
				}
			}
		}
		.right{
			float: right;
			i{
				margin-left: 15px;
			}
		}
	}
	.bottom-header{
		padding-top: 40px;
		padding-bottom: 40px;
		.hamburger{
			.hamburger-box{
				display: none;
			}
		}
		nav{
			ul li{
				margin-right: 40px;
				a{
					padding: 0;
					color: black;
					font-family: "SegoeuiBold";
					&:hover{
						text-decoration: none;
						color: #ff5912;
						background: #ffffff;
					}
					&.active{
						color: #ff5912;
					}
				}
			}
		}
		.tools{
			text-align: right;
			i{
				margin-left: 30px;
			}
		}
	}
}
#sidebar{
	background-image: url('../images/header_background.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding:230px 0;
	h1{
	  	font-size: 52px;
	  	font-family: "SegoeuiBold";
	  	color: #ff5912;
	  	text-transform: uppercase;
	}
	h2{
	  	font-size: 18px;
	  	font-family: "SegoeuiBold";
	  	color: rgb(60, 71, 81);
	}
	p {
	  	font-size: 16px;
	  	font-family: "SegoeuiRegular";
	  	color: rgb(73, 86, 98);
	  	margin-bottom: 60px;
	}
	span {
	 	font-size: 18px;
	  	font-family: "SegoeuiBold";
	 	color: rgb(52, 64, 75);
	 	margin-right: 25px;
	 	&:last-child{
	 		color: #ff5912;
	 	}
	}
}
#content{
	background: #f4f6f8;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 120px;
	.title{
		h3 {
			span{
				color: rgb(255, 89, 18);
			}
			font-size: 36px;
			font-family: "SegoeuiBold";
			text-transform: uppercase;
			margin-bottom: 25px;
		}
		p {
		  	font-size: 16px;
		  	font-family: "SegoeuiRegular";
		  	color: rgb(73, 86, 98);
		  	margin-bottom: 80px;
		}
	}
	.products{
		padding-bottom: 120px;
		a{
			text-decoration: none;
			display: block;
			color: black;
			cursor: pointer;
			.product{
				background-color: #ffffff;
				padding-top: 30px;
				padding-bottom: 22px;
				img{
					width: 145px;
					height: 218px;
					margin: 0 auto 28px;
				}
				h3{
					margin-top: 0;
					margin-bottom: 25px;
					font-family: "SegoeuiBold";
					font-size: 18px;
				}
				span{
					margin-top: 0;
					margin-bottom: 0;
					font-size: 18px;
				  	font-family: "SegoeuiBold";
				 	color: rgb(255, 89, 18);
				 	&.sales{
				  		text-decoration: line-through;
				  	}
				}
			}
		}
		.owl-dots{
			margin: 80px 15px 0;
			height: 60px;
			background-color: #ffffff;
			.owl-dot{
				display: inline-block;
				height: 60px;
				span{
				    width: 10px;
				    height: 10px;
				    margin: 24px 7px;
				    display: block;
				    background-color: #ff5912;
				    border: 1px solid #ff5912;
				    border-radius: 50%;
				}
				&.active{
					span{
						background-color: #ffffff;
					}
				}
			}
		}
	}
	.seo{
		padding-bottom: 120px;
		.sales{
			text-align: left;
			background: #ffffff;
			min-height: 100px;
			img{
				margin-left: 65px;
				display: inline-block;
				margin-top: -20px;
			}
			.extra-seo{
				margin-left: 55px;
				display: inline-block;
				text-align: left;
				h3 {
				  	font-size: 22px;
				  	font-family: "SegoeuiBold";
				 	color: rgb(52, 64, 75);				
				}
				p {
				  	font-size: 12px;
				  	font-family: "SegoeuiRegular";
				  	color: rgb(73, 86, 98);
				}
			}
			>span{
				margin-left: 75px;
				display: inline-block;
				color: rgb(255, 89, 18);
				i{
					font-size: 22px;
				}
				span {
					margin-left: 20px;
				  	font-size: 22px;
				  	font-family: "SegoeuiBold";
				  	color: rgb(255, 89, 18);
				}
			}
		}
		.ads{
			min-height: 100px;
			background: #ffffff;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
	.best-sales{
		padding-bottom: 120px;
		.title{
			h3 {
				span{
			  		color: rgb(255, 89, 18);
				}
			  	font-size: 36px;
			  	font-family: "SegoeuiBold";
			}
			p {
			  	font-size: 16px;
			  	font-family: "SegoeuiRegular";
			  	color: rgb(73, 86, 98);
			}
		}
		.products-sales{
			a{
				cursor: pointer;
				text-decoration: none;
				display: block;
				.product-sale{
					padding-top: 30px;
					padding-left: 25px;
					background: #ffffff;
					padding-bottom: 30px;
					img{
						float: left;
						margin-right: 50px;
						width: 90px;
						height: 90px;
					}
					.extra-product-sales{
						float: left;
						h3 {
						  	font-size: 18px;
						  	font-family: "SegoeuiBold";
						  	color: rgb(52, 64, 75);			
						  	font-weight: bold;		
						}
						span {
						  	font-size: 16px;
						  	font-family: "SegoeuiBold";
						  	color: rgb(255, 89, 18);
						  	&.sales{
						  		text-decoration: line-through;
						  	}
						}
					}
				}
			}
		}
	}
	.news-letter{
		background-color: #ffffff;
		.left{
			padding-left: 70px;
			h3 {
				float: left;
			  	font-size: 18px;
			  	font-family: "SegoeuiBold";
			  	color: rgb(255, 89, 18);
			  	font-weight: bold;
			  	text-transform: uppercase;
			  	height: 123px;
			  	line-height: 123px;
			  	margin: 0;
			}
			p {
				float: left;
			  	font-size: 14px;
			  	font-family: "SegoeuiItalic";
			  	color: rgb(52, 64, 75);
			  	height: 123px;
			  	line-height: 123px;
			  	margin: 0 0 0 20px;
			}

		}
		.right{
			text-align: right;
			padding-right: 55px;
			height: 123px;
			form{
				padding: 40px 0;
				input[type="text"]{
					display: inline-block;
					width: 300px;
					margin-right: 20px;
				}
				input[type="submit"]{
					background-color: rgb(255, 89, 18);
					padding: 10px 28px;
					border:0;
					color: #ffffff;
				  	font-size: 14px;
				  	border-radius: 6px;
				  	font-family: "SegoeuiBold";
				}
			}
		}
	}
}
#footer{
	.container{
		padding-top: 60px;
		padding-bottom: 60px;
		.footer-logo{
			padding-top: 25px;
			p {
				margin: 20px 0 0 0;
			  	font-size: 14px;
			  	font-family: "SegoeuiRegular";
			  	color: rgb(40, 49, 59);
			}
		}
		.contact{
			ul{ 
				padding: 0;
				margin: 0;
				li{
					a{
						font-size: 14px;
						color: black;
						padding-left: 0;
						padding-right: 0;
						font-family: "SegoeuiRegular";
						&:before{
							content: "";
						    line-height: 5px;
						    width: 5px;
						    height: 5px;
						    background-color: black;
						    float: left;
						    margin: 8px 8px 0;
						    border-radius: 50%;
						}
					}
					&:hover{
						a{
							color: rgb(255, 89, 18);
							text-decoration: none;
							background-color: #ffffff;
							&:before{
								background-color: rgb(255, 89, 18);
							}
						}
					}
				}
			}
		}
	}
}

/**************************PRODUCT**********************************/
#content{
	.widget{
		text-align: left;
		.categories{
			background-color: #ffffff;
			padding-left: 40px;
			margin-bottom: 30px;
			h3 {
			  font-size: 18px;
			  margin-top: 40px;
			  margin-bottom: 25px;
			  font-family: "SegoeuiBold";
			  color: rgb(255, 89, 18);
			  font-weight: bold;
			}
			ul li{
				padding-bottom: 35px;
				font-size: 16px;
				font-family: "SegoeuiBold";
				div{
					cursor: pointer;
					&.active{
					color: #ff5912;
					}
				}
			}
		}
		.price{
			background-color: #ffffff;
			padding-left: 40px;
			margin-bottom: 30px;
			h3 {
			  	font-size: 18px;
			  	margin-top: 40px;
			  	margin-bottom: 65px;
			  	font-family: "SegoeuiBold";
			  	color: rgb(255, 89, 18);
			}
			label{
				border:0; 
				color:#34404b;
				font-family: "SegoeuiRegular";
				&#amount1{
					position: absolute;
					bottom: 20px;
				}
				&#amount2{
					position: absolute;
					bottom: 20px;
				}
			}
			#slider-range{
				margin-bottom: 40px;
				height: 3px;
				border: 0;
				background-color: #edf0f2;
				div.ui-slider-range{
					background-color: #34404b;
				}
				span{
					background: #34404b;
					border-radius: 50%;
					width: 12px;
					height: 12px;
					cursor: pointer;
				}
			}
		}
		.sizes{
			background-color: #ffffff;
			padding-left: 40px;
			margin-bottom: 30px;
			h3 {
			  font-size: 18px;
			  margin-top: 40px;
			  margin-bottom: 25px;
			  font-family: "SegoeuiBold";
			  color: rgb(255, 89, 18);
			  font-weight: bold;
			}
			ul li{
				padding-bottom: 35px;
				div{
					cursor: pointer;
					font-size: 16px;
					font-family: "SegoeuiBold";
					&:before{
						content: "";
					    line-height: 5px;
					    width: 5px;
					    height: 5px;
					    background-color: black;
					    float: left;
					    margin: 8px 8px 0;
					    border-radius: 50%;
					}
					&.active{
						color: rgb(255, 89, 18);
						&:before{
							background-color: rgb(255, 89, 18);
						}
					}
				}
			}
		}
		.brands{
			background-color: #ffffff;
			padding-left: 40px;
			margin-bottom: 30px;
			h3 {
			  font-size: 18px;
			  margin-top: 40px;
			  margin-bottom: 25px;
			  font-family: "SegoeuiBold";
			  color: rgb(255, 89, 18);
			  font-weight: bold;
			}
			ul li{
				padding-bottom: 35px;
				div{
					cursor: pointer;
					font-size: 16px;
					font-family: "SegoeuiBold";
					&:before{
						content: "";
					    line-height: 5px;
					    width: 5px;
					    height: 5px;
					    background-color: black;
					    float: left;
					    margin: 8px 8px 0;
					    border-radius: 50%;
					}
					&.active{
						color: rgb(255, 89, 18);
						&:before{
						    background-color: rgb(255, 89, 18);
						}
					}
				}
			}
		}
	}
	.single{
		padding-bottom: 80px;
		a{
			cursor: pointer;
			text-decoration: none;
			display: block;
			.product-single{
				background: #ffffff;
				padding-top: 30px;
				padding-bottom: 25px;
				margin-bottom: 30px;
				max-height: 369px;
				img{
					width: 160px;
					height: 215px;
					margin-bottom: 30px;
				}
				h3 {
				  	font-size: 18px;
				  	font-family: "SegoeuiBold";
				  	color: rgb(52, 64, 75);
				  	font-weight: bold;
				  	margin-bottom: 25px;
				  	margin-top: 0;
				}
				span {
				  	font-size: 18px;
				  	font-family: "SegoeuiBold";
				  	color: rgb(255, 89, 18);
				  	font-weight: bold;
				  	margin: 0;
				  	&.sales{
				  		text-decoration: line-through;
				  	}
				}
			}
		}
	}

}
/*
HElP
*/
#content {
	.help{
		text-align: left;
		padding-top: 10px;
		padding-bottom: 20px;
		margin-bottom: 60px;
		background-color: #ffffff;
		.header{
			border-bottom: 1px solid rgb(52, 64, 75);
			padding-left: 30px;
		}
		.help-bottom{
			padding-top: 20px;
			padding-left: 30px;
			.extra-help{
				padding-bottom: 10px;
				ul{
					margin-bottom: 0;
					li{
						padding-top: 10px; 
					}
				}
				h3{
					font-weight: bold;
				}
			}
		}
	}
}

/*
ABOUT US
*/
#content {
	.about{
		text-align: left;
		padding-top: 10px;
		padding-bottom: 20px;
		margin-bottom: 60px;
		background-color: #ffffff;
		.header{
			border-bottom: 1px solid rgb(52, 64, 75);
			padding-left: 30px;
		}
		.about-bottom{
			padding-top: 20px;
			padding-left: 30px;
			.extra-about{
				padding-bottom: 10px;
				ul{
					margin-bottom: 0;
					li{
						padding-top: 10px; 
					}
				}
				h3{
					font-weight: bold;
				}
			}
		}
	}
}



/******************RESPONSIVE********************/

@media screen and (max-width: 772px){
	#header {
		.top-header {
			display: none; 
		}
		.bottom-header{
			.logo{
				display: inline-block;
			}
			.hamburger{
				.hamburger-box{
					display: inline-block;
					position: absolute;
					right: 10px;
					top:50px;
				}
			}
			.nav,.tools{
				display: none;
			}
		}
	}
}

@media screen and (max-width: 1200px){
	#header{
		.bottom-header{
			nav{
				margin-left: 20px;
			}
			.tools{
				margin-left: -20px;
			}
		}
	}
	#content{
		.row{
			.seo{
				.sales{
					img{
						margin-left: 30px;
					}
					.extra-seo{
						margin-left: 30px;
					}
					>span{
						margin-left: 30px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	#content .seo .ads { display: none;}
	#content .best-sales .products-sales a .product-sale {
		text-align: center;
		img{
			display: inline-block;
			float: none;
		}
		width: 240px;
	}
	#content {
		.news-letter {
			.left,.right {
				text-align: center;
			}
			.right{
				form{
					padding:20px;
				}
			}
		}
		.seo{
			.sales{
				text-align: center;
			}
		}
	}
	#footer{
		.row{
			.footer-logo{
				float: left;
			}
			.contact{
				float: left;
				.col-md-4{
					float: left;
				}
			}
		}
	}
}
